---
import { menuItems } from "../consts.ts";
import { Icon } from "astro-icon/components";
---

<ul class="menu menu-sm dropdown-content bg-base-100 rounded-br-box w-60 p-2 shadow-lg" id="header-menu">
  {
    menuItems.map((item) => (
      <li class="w-full relative">
        <a
          tabindex="0"
          class="flex justify-start items-center text-center text-xl font-bold p-4"
          id={item.id}
          title={item.id}
          href={item.href}
          target={item.target || "_self"}
          aria-label={item.text}
        >
          <Icon name={item.svg} />
          <span class="ml-2">{item.text}</span>
        </a>
      </li>
    ))
  }
</ul>